{{note}}
<a href="/logout">Log out</a>
<div class="container">
    <div class="inputForm col-xs-4 col-xs-offset-4" input-directive>
        <div class="col-xs-4 col-xs-offset-4">
            <div ng-click="showAddPanel()">
                <textarea cols="34" rows="3" placeholder="Add note" ng-model="text"></textarea>
            </div>
            <div ng-show="showAddForm">
                <input type="date" placeholder="expire time" ng-model="date"/>
                <input type="submit" class="btn btn-default inputButton" value="OK!" ng-click="addNote()"/>
                <input type="submit" class="btn btn-default inputButton" value="Cancel" ng-click="hideAddPanel()"/>
            </div>
        </div>
    </div>
    <div ng-repeat="note in notes" class="wrap-note">
        <div note-box delete="deleteNote(note)" check-user="checkUser" add-user-to-note="addUserToNote" delete-user-from-note="deleteUserFromNote" users="users" note="note"></div>
    </div>
</div>

